{% extends 'base.html '%}

{% block content %}
<div class="container">
  <div class="form">
{% if user.last_name == '2' %}
<form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
        <input placeholder="Enter username" type="text" name="username">
    </fieldset>

        <button type="submit">GET REPORT</button>

</form>
</div>
{% endif %}

{% if avail %}
<button onclick="display_chart({{ o2|safe }},'O2')" class="opt-btn">O2</button>
<button onclick="display_chart({{ sugar|safe }},'SUGAR:%')" class="opt-btn">Sugar</button>
<button onclick="display_chart({{ bp|safe }},'BP:mm Hg')" class="opt-btn">BP</button>
<button onclick="display_chart({{ crp|safe }},'CRP:mg/L')" class="opt-btn">CRP</button>
<br>
<div id="container1" class="chart" >
    <canvas id="chart1" ></canvas><br>
</div>
<br>
    <button onclick="type_plot('line')" class="opt-btn">Line</button>
    <button onclick="type_plot('pie')" class="opt-btn">Pie</button>
    <button onclick="type_plot('bar')" class="opt-btn">Bar</button>
    <button onclick="type_plot('radar')"class="opt-btn">Radar</button>
<button onclick="type_plot('doughnut')" class="opt-btn">Doughnut</button>
<button onclick="type_plot('polarArea')" class="opt-btn">Polar</button>
{% else %}
<div class="form">
Enter valid username
</div>
{% endif %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>

    var d;
    var labled;
    var data;
    var type1='line'
    var t;
    var chart;

    function display_chart(d1,l)
    {
        d=d1;
        labled=l;
        if(chart!=undefined)
        {
            chart.destroy();

        }
        LineGraph('chart1');
    }

    function type_plot(t)
    {
        type1=t;
        display_chart(d,labled)
    }


    function LineGraph(id)
    {

        var config = {
          type: type1,
          data: {
            datasets: [{
              data: d,
              backgroundColor: ['yellow','blue','purple','gray'],
        borderColor: 'rgb(0,0,0)',
              label: labled
            }],
            labels: {{ labels|safe }}
          },
          options: {
            responsive: true,
            maintainAspectRatio: false
          }
        };
        var ctx = document.getElementById(id).getContext('2d');
        chart = new Chart(ctx, config);
    }



  </script>
</div>
{% endblock %}
