{% extends 'base.html '%}

{% block content %}
<div class="form-canvas">
<form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
        <input placeholder="Enter username" type="text" name="username">
    </fieldset>

    <div class="form-group">
        <button type="submit">GET REPORT</button>
    </div>
</form>
{% if avail %}

<button onclick="display_chart({{ o2|safe }},'O2')" class="chart-btn">O2</button>
<button onclick="display_chart({{ sugar|safe }},'SUGAR:%')" class="chart-btn">Sugar</button>
<button onclick="display_chart({{ bp|safe }},'BP:mm Hg')" class="chart-btn">Blood Pressure</button>
<button onclick="display_chart({{ crp|safe }},'CRP:mg/L')" class="chart-btn">CRP</button>
<div id="container1" style="width: 50%;" class="chart" >
    <canvas id="chart1" ></canvas><br>
</div>
<br>
    <button onclick="type_plot('line')" class="chart-btn">Line</button>
    <button onclick="type_plot('pie')" class="chart-btn">Pie</button>
    <button onclick="type_plot('bar')" class="chart-btn">Bar</button>
    <button onclick="type_plot('radar')" class="chart-btn">Radar</button>
<button onclick="type_plot('doughnut')" class="chart-btn">Doughnut</button>
<button onclick="type_plot('polarArea')" class="chart-btn">Polar</button>



<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>

    var d;
    var labled;
    var data;
    var type1='line'
    var t;
    var chart;

    function display_chart(d1,l)
    {
        d=d1;
        labled=l;
        if(chart!=undefined)
        {
            chart.destroy();

        }
        LineGraph('chart1');
    }

    function type_plot(t)
    {
        type1=t;
        display_chart(d,labled)
    }


    function LineGraph(id)
    {

        var config = {
          type: type1,
          data: {
            datasets: [{
              data: d,
              backgroundColor: ['rgb(255, 99, 132)','blue','purple','gray'],
        borderColor: 'rgb(255, 99, 132)',
              label: labled
            }],
            labels: {{ labels|safe }}
          },
          options: {
            responsive: true
          }
        };
        var ctx = document.getElementById(id).getContext('2d');
        chart = new Chart(ctx, config);
    }



  </script>
{% else %}

    {{ msg }}

{% endif %}
{% endblock %}
</div>