<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Medico+</title>

    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
<div class="nav-bar">
    
    
    <div class="column-left">
{% if user.is_authenticated %}
    <div class="column-right">Hello {{ user.username }}</div>
    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'profile' %}">Profile</a>
    <a href="{% url 'logout' %}">Logout</a>
    
    {% if user.last_name == '2' %}
    <a href="{% url 'create_report' %}">Create Report</a>
    {% endif %}
    <a href="{% url 'get_report' %}">Get Report</a>
    <a href="{% url 'delete_user' %}">Quit Surveillance</a>
{% else %}

    <a href="{% url 'login' %}">Login</a>
    <a href="{% url 'register' %}">Register</a>
{% endif %}
    </div>
</div>

{% block content %}
{% endblock %}
</body>
</html>